<?xml version="1.0"?>
<robot name="arachne" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <group name="aubo_arm">
    <chain base_link="aubo_base_link" tip_link="tool0"/>
  </group>

  <group name="ag95_gripper">
    <joint name="left_outer_knuckle_joint"/>
    <joint name="right_outer_knuckle_joint"/>
    <joint name="left_finger_joint"/>
    <joint name="right_finger_joint"/>
    <joint name="left_inner_knuckle_joint"/>
    <joint name="right_inner_knuckle_joint"/>
  </group>

  <group_state name="home" group="aubo_arm">
    <joint name="aubo_shoulder_joint" value="-1.5707963267949"/>
    <joint name="aubo_upperArm_joint" value="0.201570428261868"/>
    <joint name="aubo_foreArm_joint" value="1.65970467002488"/>
    <joint name="aubo_wrist1_joint" value="0.485178041391533"/>
    <joint name="aubo_wrist2_joint" value="1.67675136677345"/>
    <joint name="aubo_wrist3_joint" value="0.76432946885334"/>
  </group_state>
  <group_state name="ready" group="aubo_arm">
    <joint name="aubo_shoulder_joint" value="1.50"/>
    <joint name="aubo_upperArm_joint" value="-0.30"/>
    <joint name="aubo_foreArm_joint" value="-1.10"/>
    <joint name="aubo_wrist1_joint" value="0.40"/>
    <joint name="aubo_wrist2_joint" value="-1.55"/>
    <joint name="aubo_wrist3_joint" value="0.0"/>
  </group_state>
  <group_state name="reach" group="aubo_arm">
    <joint name="aubo_shoulder_joint" value="1.35"/>
    <joint name="aubo_upperArm_joint" value="-0.65"/>
    <joint name="aubo_foreArm_joint" value="-0.85"/>
    <joint name="aubo_wrist1_joint" value="0.55"/>
    <joint name="aubo_wrist2_joint" value="-1.35"/>
    <joint name="aubo_wrist3_joint" value="0.0"/>
  </group_state>
  <group_state name="grasp" group="aubo_arm">
    <joint name="aubo_shoulder_joint" value="1.32"/>
    <joint name="aubo_upperArm_joint" value="-0.78"/>
    <joint name="aubo_foreArm_joint" value="-0.72"/>
    <joint name="aubo_wrist1_joint" value="0.35"/>
    <joint name="aubo_wrist2_joint" value="-1.32"/>
    <joint name="aubo_wrist3_joint" value="0.0"/>
  </group_state>
  <group_state name="lift" group="aubo_arm">
    <joint name="aubo_shoulder_joint" value="1.60"/>
    <joint name="aubo_upperArm_joint" value="-0.20"/>
    <joint name="aubo_foreArm_joint" value="-1.25"/>
    <joint name="aubo_wrist1_joint" value="0.35"/>
    <joint name="aubo_wrist2_joint" value="-1.55"/>
    <joint name="aubo_wrist3_joint" value="0.0"/>
  </group_state>

  <group_state name="open" group="ag95_gripper">
    <joint name="left_outer_knuckle_joint" value="0.0"/>
    <joint name="right_outer_knuckle_joint" value="0.0"/>
    <joint name="left_finger_joint" value="0.0"/>
    <joint name="right_finger_joint" value="0.0"/>
    <joint name="left_inner_knuckle_joint" value="0.0"/>
    <joint name="right_inner_knuckle_joint" value="0.0"/>
  </group_state>
  <group_state name="close" group="ag95_gripper">
    <joint name="left_outer_knuckle_joint" value="0.93"/>
    <joint name="right_outer_knuckle_joint" value="0.93"/>
    <joint name="left_finger_joint" value="0.93"/>
    <joint name="right_finger_joint" value="0.93"/>
    <joint name="left_inner_knuckle_joint" value="0.93"/>
    <joint name="right_inner_knuckle_joint" value="0.93"/>
  </group_state>

  <end_effector name="ag95" parent_link="tool0" group="ag95_gripper" parent_group="aubo_arm"/>

  <disable_collisions link1="base_link" link2="arm_mount_link" reason="Adjacent"/>
  <disable_collisions link1="arm_mount_link" link2="aubo_base_link" reason="Adjacent"/>
  <disable_collisions link1="aubo_base_link" link2="aubo_shoulder_Link" reason="Adjacent"/>
  <disable_collisions link1="aubo_shoulder_Link" link2="aubo_upperArm_Link" reason="Adjacent"/>
  <disable_collisions link1="aubo_upperArm_Link" link2="aubo_foreArm_Link" reason="Adjacent"/>
  <disable_collisions link1="aubo_foreArm_Link" link2="aubo_wrist1_Link" reason="Adjacent"/>
  <disable_collisions link1="aubo_wrist1_Link" link2="aubo_wrist2_Link" reason="Adjacent"/>
  <disable_collisions link1="aubo_wrist2_Link" link2="aubo_wrist3_Link" reason="Adjacent"/>
  <disable_collisions link1="aubo_wrist3_Link" link2="tool0" reason="Adjacent"/>
  <disable_collisions link1="tool0" link2="gripper_adapter_link" reason="Adjacent"/>
  <disable_collisions link1="aubo_wrist3_Link" link2="gripper_adapter_link" reason="Never"/>
  <disable_collisions link1="aubo_wrist3_Link" link2="ee_camera_support_link" reason="Never"/>
  <disable_collisions link1="aubo_wrist3_Link" link2="ee_camera_link" reason="Never"/>
  <disable_collisions link1="tool0" link2="ee_camera_support_link" reason="Never"/>
  <disable_collisions link1="tool0" link2="ee_camera_link" reason="Never"/>
  <disable_collisions link1="gripper_adapter_link" link2="ee_camera_support_link" reason="Adjacent"/>
  <disable_collisions link1="gripper_adapter_link" link2="ee_camera_link" reason="Never"/>
  <disable_collisions link1="ee_camera_support_link" link2="ee_camera_link" reason="Adjacent"/>
  <disable_collisions link1="gripper_adapter_link" link2="ag95_body" reason="Adjacent"/>
</robot>
