<?xml version="1.0"?>
<robot name="arachne" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="arm_mount_xyz" default="0.22 0.0 0.155"/>
  <xacro:arg name="arm_mount_rpy" default="0.0 0.0 1.57079632679"/>
  <xacro:arg name="tool_adapter_xyz" default="0.0 0.0 0.0"/>
  <xacro:arg name="tool_adapter_rpy" default="0.0 0.0 0.785398163397"/>
  <xacro:arg name="gripper_type" default="ms42dc"/>
  <xacro:arg name="with_lidar" default="true"/>
  <xacro:arg name="with_ee_camera" default="true"/>
  <xacro:arg name="with_rear_rack" default="true"/>
  <xacro:arg name="with_front_basket" default="true"/>
  <xacro:arg name="front_basket_xyz" default="0.4655 0.0 -0.0735"/>
  <xacro:arg name="front_basket_rpy" default="0.0 0.0 0.0"/>
  <xacro:arg name="rear_rack_xyz" default="-0.16 0.0 0.105"/>
  <xacro:arg name="rear_rack_rpy" default="0.0 0.0 1.57079632679"/>
  <xacro:arg name="lidar_xyz" default="0.0 0.035 0.6223"/>
  <xacro:arg name="lidar_rpy" default="0.0 0.0 3.14159265359"/>
  <xacro:arg name="ee_camera_xyz" default="0.0 0.0 0.0"/>
  <xacro:arg name="ee_camera_rpy" default="0.0 0.0 0.0"/>
  <xacro:arg name="with_ros2_control" default="false"/>
  <xacro:arg name="with_gazebo_plugins" default="false"/>
  <xacro:arg name="with_mimic_joints" default="true"/>
  <xacro:arg name="gazebo_drive_wheels" default="false"/>

  <xacro:include filename="materials.xacro"/>
  <xacro:include filename="common_inertials.xacro"/>
  <xacro:include filename="scout/scout_2_vendor.xacro"/>
  <xacro:include filename="scout/scout_2_ros2_control.xacro"/>
  <xacro:include filename="aubo/aubo_i5_vendor.xacro"/>
  <xacro:include filename="aubo/aubo_i5_ros2_control.xacro"/>
  <xacro:include filename="gripper/ms42dc.urdf.xacro"/>
  <xacro:include filename="gripper/ms42dc_ros2_control.xacro"/>
  <xacro:include filename="gripper/ag95_ros2_control.xacro"/>
  <xacro:include filename="mounts/scout_aubo_mount.xacro"/>
  <xacro:include filename="mounts/aubo_ms42dc_adapter.xacro"/>
  <xacro:include filename="sensors/rear_rack.xacro"/>
  <xacro:include filename="sensors/lidar.xacro"/>
  <xacro:include filename="sensors/ee_camera.xacro"/>
  <xacro:include filename="accessories/front_basket.xacro"/>
  <xacro:include filename="gazebo/arachne_gazebo_plugins.xacro"/>

  <xacro:arachne_scout_2_vendor gazebo_drive_wheels="$(arg gazebo_drive_wheels)"/>
  <xacro:if value="$(arg with_front_basket)">
    <xacro:arachne_front_basket parent="base_link" xyz="$(arg front_basket_xyz)" rpy="$(arg front_basket_rpy)"/>
  </xacro:if>
  <xacro:arachne_scout_aubo_mount parent="base_link" xyz="$(arg arm_mount_xyz)" rpy="$(arg arm_mount_rpy)"/>
  <xacro:arachne_aubo_i5_vendor parent="arm_mount_link"/>
  <xacro:arachne_aubo_ms42dc_adapter parent="tool0" xyz="$(arg tool_adapter_xyz)" rpy="$(arg tool_adapter_rpy)"/>
  <xacro:if value="${'$(arg gripper_type)' == 'ms42dc'}">
    <xacro:arachne_ms42dc parent="gripper_adapter_link" mimic_right="$(arg with_mimic_joints)"/>
  </xacro:if>
  <xacro:if value="${'$(arg gripper_type)' == 'ag95'}">
    <xacro:include filename="gripper/ag95.urdf.xacro"/>
    <xacro:arachne_ag95 parent="gripper_adapter_link"/>
  </xacro:if>

  <xacro:if value="$(arg with_rear_rack)">
    <xacro:arachne_rear_sensor_rack parent="base_link" xyz="$(arg rear_rack_xyz)" rpy="$(arg rear_rack_rpy)"/>
  </xacro:if>

  <xacro:if value="$(arg with_lidar)">
    <xacro:if value="$(arg with_rear_rack)">
      <xacro:arachne_lidar parent="rear_rack_link" xyz="$(arg lidar_xyz)" rpy="$(arg lidar_rpy)"/>
    </xacro:if>
    <xacro:if value="${'$(arg with_rear_rack)' == 'false'}">
      <xacro:arachne_lidar parent="base_link"/>
    </xacro:if>
  </xacro:if>

  <xacro:if value="$(arg with_ee_camera)">
    <xacro:arachne_ee_camera parent="gripper_adapter_link" xyz="$(arg ee_camera_xyz)" rpy="$(arg ee_camera_rpy)"/>
  </xacro:if>

  <xacro:if value="$(arg with_ros2_control)">
    <xacro:arachne_scout_2_ros2_control/>
    <xacro:arachne_aubo_i5_ros2_control prefix="aubo_"/>
    <xacro:if value="${'$(arg gripper_type)' == 'ms42dc'}">
      <xacro:arachne_ms42dc_ros2_control prefix="ms42dc_"/>
    </xacro:if>
    <xacro:if value="${'$(arg gripper_type)' == 'ag95'}">
      <xacro:arachne_ag95_ros2_control/>
    </xacro:if>
  </xacro:if>

  <xacro:if value="$(arg with_gazebo_plugins)">
    <xacro:arachne_gazebo_plugins gripper_type="$(arg gripper_type)"/>
  </xacro:if>
</robot>
