<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find dh_ag95_description)/urdf/dh_ag95_macro.xacro"/>

  <xacro:macro name="arachne_ag95" params="parent xyz:='0 0 0' rpy:='0 0 0'">
    <xacro:dh_ag95_gripper prefix="" parent="${parent}" grasp_link_offset="0.145">
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </xacro:dh_ag95_gripper>

    <link name="grasp_frame"/>
    <joint name="grasp_frame_joint" type="fixed">
      <parent link="grasp_link"/>
      <child link="grasp_frame"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>
