<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="arachne_ms42dc" params="prefix:='ms42dc_' parent">
    <link name="${prefix}body_link">
      <visual>
        <origin xyz="-0.049334103 0.049874070 0.016816675" rpy="1.570796327 0 0"/>
        <geometry>
          <mesh filename="package://arachne_description/meshes/gripper/ms42dc/MS42DC.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="arachne_gripper"/>
      </visual>
      <collision>
        <origin xyz="0 0 0.082318" rpy="0 0 0"/>
        <geometry>
          <box size="0.118 0.063 0.165"/>
        </geometry>
      </collision>
      <xacro:box_inertial mass="0.6" x="0.118" y="0.063" z="0.165"/>
    </link>

    <joint name="${prefix}base_fixed_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}body_link"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="grasp_frame"/>

    <joint name="${prefix}grasp_frame_joint" type="fixed">
      <parent link="${prefix}body_link"/>
      <child link="grasp_frame"/>
      <origin xyz="0 0 0.165" rpy="0 0 0"/>
    </joint>
  </xacro:macro>
</robot>
