<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="arachne_aubo_ms42dc_adapter" params="parent xyz rpy">
    <link name="gripper_adapter_link">
      <visual>
        <origin xyz="0 0 0.0125" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.055" length="0.025"/>
        </geometry>
        <material name="arachne_joint"/>
      </visual>
      <collision>
        <origin xyz="0 0 0.0125" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.055" length="0.025"/>
        </geometry>
      </collision>
      <xacro:cylinder_inertial mass="0.25" radius="0.055" length="0.025" axis="z"/>
    </link>

    <joint name="gripper_adapter_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="gripper_adapter_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>
  </xacro:macro>
</robot>
