<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="arachne_scout_aubo_mount" params="parent xyz rpy">
    <link name="arm_mount_link">
      <visual>
        <origin xyz="0 0 -0.025" rpy="0 0 0"/>
        <geometry>
          <box size="0.26 0.22 0.05"/>
        </geometry>
        <material name="arachne_joint"/>
      </visual>
      <collision>
        <origin xyz="0 0 -0.025" rpy="0 0 0"/>
        <geometry>
          <box size="0.26 0.22 0.05"/>
        </geometry>
      </collision>
      <xacro:box_inertial mass="3.0" x="0.26" y="0.22" z="0.05"/>
    </link>

    <joint name="arm_mount_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="arm_mount_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>
  </xacro:macro>
</robot>
