[Desktop Entry]
Version=1.0
Type=Application
Name=Arachne Real Teach Panel
Comment=Start environment, real bringup and teach panel
Icon=utilities-terminal
Terminal=true
Exec=/home/jetson/zhaoyang/Arachne/scripts/operator/launch_arachne_real_teach.sh
Path=/home/jetson/zhaoyang/Arachne
Categories=Utility;
StartupNotify=true
